body{
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
}
.signup-box{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: #ffffff;
    padding-top: 40px;
    border-radius: 10px;
    margin-top: 50px;
}

.signin-box{
    width: 360px;
    height: 400px;
    margin: auto;
    background-color: #ffffff;
    padding-top: 40px;
}
.signup-btn{
    background-color: #7114FE;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
    margin-left: 20px; 
}

.signup-btn:hover{
    background-color: #7114FE;
}
h3{
    color: #B525EC;
    margin-left: 20px;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 14px;
}
form input{
    width: 100%;
    padding: 8px;
    border: none;
    border: 1px solid gray;
    border-radius: 4px;
    outline: none;
}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #7013FF;
    color: #ffffff;
    font-size: 15px;
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.para-2{
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    margin-top: -10px;
}
.para-2 a{
    color: #7013ff;
}
h5{
    text-align: end;
    color: #7114FE;
}
.pwd-container{
    position: relative;
}
.fa-eye{
    position: absolute;
    top: 28%;
    right: 4%;
    cursor: pointer;
}
.continue{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;  
    column-gap: 0.5rem;
    font-size: 12px;
    opacity: 0.5;
}
.continue:before, .continue:after{
  content: "";
  height: 2px;
  display: block;
  background: gray;
}
.icons{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 2rem;
    font-size: 30px;
}
.otp-field{
    display: flex;
    gap: 0.5rem;
}
.otp-field input{
    width: 24px;
    height: 24px;
    font-size: 40px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
}
#fa-check{
    padding: 4rem 5rem;
    background-color: rgb(194, 136, 136);
    width: 20px;
    margin-left: 90px;
    font-size: 64px;
    border-radius: 50%;
    color: #7114FE;
    background-color: #F3EEEE;
    margin-top: 120px;
}
.proceed{
    padding: 1rem 3rem;
    margin-left: 100px;
    color: #ffffff;
    background-color: #7114FE;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    margin-top: 70px;
    cursor: pointer;
}